@using AjaxAndjQuery.Models.Domain
@model IEnumerable<AjaxAndjQuery.Models.ViewModels.SessionViewModel>

@{
    ViewData["Title"] = "Partial Views";
}


<h2>@ViewData["Title"]</h2>

<h3>Overview Sessions</h3>

<div id="sessionList">
    @Html.Partial("_SessionList", Model)
</div>

<p></p>

<h3>Add a new session</h3>
<form asp-controller="Session" asp-action="Add"  id="formAdd">

        <span id="indicator" style="display: none">
            <img src="~/Images/load.gif" alt="loading..." />
        </span>
    
        <div class="form-group">
            <label for="Name">Name</label>
            <input id="Name" name="Name" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input id="Description" name="Description" class="form-control" />
          </div>

        <div class="form-group">
            <label for="Level">Level</label>
            <select id="Level" name="Level"  
                    asp-items="@(new SelectList(new[] { "--Select a level--" }.Concat(Enum.GetNames(typeof(Level)))))" class="form-control"></select>
        </div>

        <div class="form-group">
          <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </form>

@section Scripts{
    <script src="~/js/CustomScripts/SessionScripts.js"></script>
}
